/* 
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 800px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  font-family: reatent;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/*
=============== 
Navbar
===============
*/
nav {
  background: #322035;
  box-shadow: var(--light-shadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  margin-left: 3%;
}
.nav-toggle {
  font-size: 1.5rem;
  color: #fff;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
  outline: none;
}
.logo {
  height: 40px;
}
.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}
.logo-img {
  width: 136px;
  height: 40px;
  /* margin-left: 35px; */
}
.nav-link {
  color: #cfc5ef;
}
.links a {
  background: #322035;
  font-size: 1rem;
  text-transform: capitalize;
  display: block;
  padding: 0.6rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background: #cfc5ef;
  color: #fff;
  padding-left: 1.5rem;
}
.active-link {
  color: #fff;
}
.get-started {
  width: 120px;
  height: 38px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
}
.get-started:hover {
  border: solid 1px #fff;
  color: #fff;
  background: #322035;
}

.links-containa {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.active-link {
  color: #fff;
}

@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-center-nav {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-containa {
    height: auto !important;
    margin-right: 70px;
    display: flex;
  }
  .links {
    display: flex;
  }

  .links a {
    padding: 0;
    margin: 0.3rem 1.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
}

/*================ HOME PAGE CSS ================*/
.banner {
  display: block;
}

@media (min-width: 800px) {
  .banner {
    display: flex;
  }
  .banner-img {
  width: 40%;
  padding-bottom: 5%;
  }
  .banner-text{
    width: 60%;
    padding-left: 5%;
    padding-right: 5%; 
  }
  .banner-text-left h3 {
    padding-top: 25%;
    font-size: 320%;
    font-style: normal;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
    justify-self: center;
    color: #322305;
  }
  .banner-text-left p{
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    text-align: left;
    color: #322305;
    width: 95%;
  }
  .img-left{
    padding-left: 3%;
  }
}

.banner-img {
  width: 80%;
  margin: auto;
}

.banner-text{
  width: 100%;
  padding-left: 5%;
  padding-right: 5%; 
}
.banner-text h3 {
  padding-top: 25%;
  font-size: 280%;
  font-style: normal;
  font-weight: 600;
  line-height: 63px;
  letter-spacing: 0em;
  text-align: left;
  justify-self: center;
  color: #322305;
}
.banner-text p{
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: #322305;
  width: 95%;
}
.hero_1 {
  width: 90%;
  margin-top: 80px;
  object-fit: contain;
}
.hero_2{
  width: 90%;
  margin-top: 80px;
  object-fit: contain;
}
.hero-2 {
  background: #eae1ec;
}
.hero4 {
  padding-top: 20%;
}
.title {
  text-align: center;
  margin-bottom: 4rem;
}
.client-say {
  font-size: 2rem;
  color: #322035;
}
.our-word {
  padding-top: 35px;
  padding-bottom: 5%;
  font-size: 20px;
  color: #322035;
}
@media (max-width: 599px) {
  .client-say,
  .turn {
    font-size: 1.8rem;
  }
  .our-word {
    font-size: 14px;
  }
}

.banner-btn {
  width: 120px;
  height: 42px;
  margin-top: 10px;
  margin-bottom: 20px;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 16px;
}
.aesthetic2{
  position: absolute;
  right: 0;
}
.aesthetic {
  position: absolute;
  left: 0;
}
@media(max-width: 800px){
  .aesthetic2{
    top: 200%;
  }
}
@media (max-width: 800px) {
  .turn {
    font-size: 2rem;
    line-height: 55px;
  }
}

/*================ COMPANY PAGE ================*/
.contact {
  padding-left: 10%;
  padding-right: 10%;
}
.contact-hero img {
  width: 100%;
  height: 400px;
}
.about-us h1,
.unique h1,
.why-plat h1,
.careers h1,
.team h1 {
  font-size: 55px;
  font-style: normal;
  font-weight: 600;
  line-height: 83px;
  text-align: left;
  padding-left: 7%;
  padding-top: 50px;
  padding-bottom: 30px;
  color: #322035;
}
@media (max-width: 700px) {
  .about-us h1,
  .unique h1,
  .why-plat h1,
  .careers h1,
  .team h1 {
    font-size: 35px;
    line-height: 50px;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 15px;
  }
  .about-text,
  .unique-text,
  .why-plat-text,
  .careers-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
  }
}

.about-text,
.unique-text,
.why-plat-text,
.careers-text {
  padding-left: 7%;
  padding-right: 7%;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: #322305;
}
.team-img {
  width: 100%;
  height: auto;
  padding-left: 7%;
  padding-right: 7%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 300px;
  grid-gap: 47px;
  padding-bottom: 100px;
}
.contact-avatar {
  border-radius: 10px;
  background: #322035;
}

/* FOOTER STYLING */

.footer {
  width: 100%;
  height: auto;
  background: #322035;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.social {
  padding-left: 25%;
}
.social img {
  width: 218px;
  height: 64px;
  margin-top: 87px;
}
.social-text {
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  width: 217px;
}
.s-media {
  font-size: 40px;
  color: #fff;
  padding-right: 5px;
  padding-top: 20px;
}
.quick-links {
  margin-top: 87px;
  width: 150px;
  margin-left: 160px;
}
.quick-links h2 {
  color: #fff;
  padding-bottom: 40px;
}
.q-links {
  display: block;
  color: #fff;
}
.contact-add {
  color: #fff;
  margin-top: 87px;
  width: 260px;
  margin-left: 15%;
}
.contact-add h2 {
  padding-bottom: 40px;
}
.contact-add p {
  font-size: 14px;
}
.content {
  margin-top: 177px;
  margin-left: 80px;
  margin-bottom: 100px;
}
.terms {
  color: white;
  font-size: 14px;
  display: block;
  line-height: 24px;
  font-weight: 400;
}
@media (max-width: 599px) {
  .quick-links {
    margin-top: 20px;
    margin-left: 80px;
  }
  .content {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .contact-add {
    margin-top: 20px;
  }
  .social img {
    margin-top: 20px;
  }
}

/*============== FAQ PAGE ==============*/
.faq-banner img {
  width: 100%;
  height: 400px;
}
.faq-banner h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 82px;
  color: #322035;
  padding: 50px 7%;
}
@media (max-width: 700px) {
  .faq-banner h1 {
    font-size: 35px;
    padding: 30px 3%;
    line-height: 45px;
  }
}

/*
=============== 
Questions
===============
*/

main {
  min-height: 100vh;
  /* using flex because of better browser support */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contain-question {
  width: 90vw;
  margin: 0 15% 5rem;
  background: var(--clr-white);
  border-radius: var(--radius);
  padding: 2.5rem 2rem;
  max-width: var(--fixed-width);
  display: grid;
  gap: 1rem 2rem;
}
.contain h3 {
  line-height: 1.2;
  font-weight: 500;
}
.info {
  width: 100%;
}
.question {
  padding: 1rem 1.5rem;
  border: 2px solid var(--clr-grey-special);
  margin-bottom: 1rem;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
}
.question h4 {
  text-transform: none;
  line-height: 1.5;
  color: #322035;
}
.question p {
  color: var(--clr-grey-3);
  margin-bottom: 0;
  margin-top: 0.5rem;
}
.question header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question header h4 {
  margin-bottom: 0;
}
.btn {
  background: transparent;
  border-color: transparent;
  width: 2rem;
  height: 2rem;
  background: #322035;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #cef;
  cursor: pointer;
  margin-left: 1rem;
  align-self: center;
  outline: none;
}

/* TERMS AND AGREEMENT  && PRIVACY POLICY*/
.agreement h1,
.privacy h1 {
  font-size: 55px;
  color: #322035;
  padding: 50px 6%;
}
.terms-section p,
.privacy-text p {
  font-size: 20px;
  padding-left: 6%;
  padding-right: 6%;
  color: #322035;
  font-weight: 400;
  padding-bottom: 50px;
}
/* BLOG STYLING */
.blog {
  width: 100%;
  height: 600px;
  text-align: center;
  justify-content: center;
}
.blog h1 {
  font-size: 55px;
  color: #322035;
  margin: auto 0;
}

/*========== CONTACT US PAGE STYLING ==========*/
.contact-us {
  display: block;
}
.contact-text h1 {
font-size: 35px;
font-style: normal;
font-weight: 600;
line-height: 83px;
text-align: left;
color: #322035;
padding-bottom: 30px;
}
.contact-us-img{
  width: 100%;
  padding: 5% 10%;
  margin: auto;
}

.contact-text {
  padding: 0 5%;
}
.bold,
.light {
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #322035;
  padding-bottom: 30px;
}
.bold {
  font-weight: bolder;
}
.light {
  font-weight: 400;
}
@media (min-width: 800px) {
  .contact-us {
    display: flex;
  }
  .contact-img{
    width: 50%;
  }
  .contact-us-img {
  width: 100%;
  object-fit: contain;
  padding: 10% 10%;
  }
  .contact-text {
  padding-left: 4%;
  width: 50%;
  }
  .contact-text h1 {
  font-size: 55px;
  }
  .bold, .light {
  font-size: 20px;
  }
}

.c-media {
  font-size: 40px;
  padding-right: 5px;
  color: #322035;
}
.contact-text a {
  color: #322035;
}

/*============== GETSTARTED STYLING ==============*/

.get-started-section {
  display: block;
}
.get-started-img-box{
  width: 100%;
  text-align: center;
}
.get-started-img {
  width: 80%;
  margin: auto;
  object-fit: contain;
  padding-bottom: 30px;
  padding-top: 30px;
}
.getstarted-form{
  margin-left: 5%;
  width: 90%;
}
.getstarted-form h1 {
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 83px;
  text-align: left;
  color: #322035;
}
.getstarted-form p {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  text-align: left;
  color: #322035;
}
.getstarted-form h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  text-align: left;
  color: #322035;
  padding-top: 30px;
}
.get-started-input input{
  border: none;
  border-bottom: #322035 solid 0.8px;
  width: 30%; 
  margin-right: 15%;
  height: 45px;
  color: rgba(50, 32, 53, 0.4);
  outline: none;
}
.get-started-button{
  width: 25%;
  height: 52px;
  background: #322035;
  border-radius: 10px;
  margin-top: 50px;
  color: #fff;
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 5%;
}
@media (min-width: 800px) {
  .get-started-section {
    display: flex;
  }
  .getstarted-form h1{
    font-size: 55px;
  }
  .getstarted-form p{
    font-size: 20px;
  }
  .getstarted-form h3{
    font-size: 25px;
  }
}


/*
=============== 
Modal
===============
*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  transition: var(--transition);
  visibility: hidden;
  z-index: -1;
}
/* OPEN/CLOSE MODAL */
.show-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  background: var(--clr-white);
  width: 90vw;
  height: 70vh;
  max-width: var(--fixed-width);
  text-align: center;
  position: relative;
  border-top-left-radius: 120px;
  border-top-right-radius: 120px;
  border-bottom-right-radius: 120px;
}
.close-modal-btn {
  width: 120px;
  bottom: 1rem;
  font-size: 1.2rem;
  background: #322035;
  color: #fff;
  border: none;
  cursor: pointer;
  height: 40px;
  border-radius: 5px;
  outline: none;
}

.modal-container h1 {
  padding: 50px 0 30px 0;
  font-size: 2.5rem;
  color: #322035;
}
@media (max-width: 700px) {
  .modal-container h1 {
    font-size: 1.5rem;
    padding: 30px 0 10px 0;
  }
  .modal-container p {
    font-size: 12px;
    padding: 5px 0;
  }
}
.modal-container p {
  font-size: 20px;
  padding: 10px 0;
  color: #322035;
  font-weight: 500;
}

.elipse23 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.elipse24 {
  position: absolute;
  bottom: 10.4%;
  left: 0;
}
.elipse25 {
  position: absolute;
  bottom: 10px;
  left: 19%;
}

/*
=============== 
Reviews
===============
*/
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.underline {
  height: 0.25rem;
  width: 5rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}
.container {
  width: 40vw;
  margin: auto;
}
.review {
  background: var(--clr-white);
  padding: 1.5rem 2rem;
  border-radius: 10px;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  text-align: center;
}
.review:hover {
  box-shadow: var(--dark-shadow);
}
.img-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
.card-person {
  display: flex;
}
.quote-icon {
  position: relative;
  top: 0;
  left: 0;
  width: 2.5rem;
  font-size: 3rem;
  height: 2.5rem;
  margin-bottom: 30px;
  display: grid;
  place-items: center;
  transform: translate(-90deg);
  color: #322035;
}
.img-container::before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--clr-primary-5);
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  border-radius: 50%;
}
.author {
  padding-top: 1.8rem;
  width: 100px;
  color: #322035;
}
.card-avatar {
  width: 100px;
  height: 100px;
  background: #322035;
  border-radius: 50%;
}
.info {
  margin-bottom: 0.75rem;
  text-align: left;
  line-height: 35px;
  color: #322035;
}
.prev-btn,
.next-btn {
  font-size: 1.25rem;
  background: none;
  border: none;
  color: #322035;
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
  outline: none;
}

@media (max-width: 800px) {
  .container {
    width: 80%;
  }
}
