body {
  margin: 0;
  font-family: reatent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@font-face {
  font-family: 'reatent';
  src: local('reatent'), url(./fonts/Montserrat-Regular.ttf) format('truetype');
}
